:host {
    display: flex;
    justify-content: center;
    margin: 75px 0;
}
.viewOnly {
    border: 0px;
    outline: none;
}
.form-row {
    line-height: 20px;
}
.form-row>div {
    display: flex;
    justify-content: space-between;
}
mat-card {
    width: 300px;
}
.back-button {
    position: relative;
    left: -50px;
    top: 10px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}